# Predicting Diabetes

## Import Libraries

In [3]:
import pandas 
import matplotlib.pyplot
import numpy

# do ploting inline instead of in a separate window
%matplotlib inline

## Load and review data

In [4]:
df = pandas.read_csv("./data/pima-data.csv")
df.shape

(768, 10)

In [5]:
lines = 5
df.head(lines)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>num_preg</th>
      <th>glucose_conc</th>
      <th>diastolic_bp</th>
      <th>thickness</th>
      <th>insulin</th>
      <th>bmi</th>
      <th>diab_pred</th>
      <th>age</th>
      <th>skin</th>
      <th>diabetes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>148</td>
      <td>72</td>
      <td>35</td>
      <td>0</td>
      <td>33.6</td>
      <td>0.627</td>
      <td>50</td>
      <td>1.3790</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>85</td>
      <td>66</td>
      <td>29</td>
      <td>0</td>
      <td>26.6</td>
      <td>0.351</td>
      <td>31</td>
      <td>1.1426</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>183</td>
      <td>64</td>
      <td>0</td>
      <td>0</td>
      <td>23.3</td>
      <td>0.672</td>
      <td>32</td>
      <td>0.0000</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>89</td>
      <td>66</td>
      <td>23</td>
      <td>94</td>
      <td>28.1</td>
      <td>0.167</td>
      <td>21</td>
      <td>0.9062</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>137</td>
      <td>40</td>
      <td>35</td>
      <td>168</td>
      <td>43.1</td>
      <td>2.288</td>
      <td>33</td>
      <td>1.3790</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df.tail(lines)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>num_preg</th>
      <th>glucose_conc</th>
      <th>diastolic_bp</th>
      <th>thickness</th>
      <th>insulin</th>
      <th>bmi</th>
      <th>diab_pred</th>
      <th>age</th>
      <th>skin</th>
      <th>diabetes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>763</th>
      <td>10</td>
      <td>101</td>
      <td>76</td>
      <td>48</td>
      <td>180</td>
      <td>32.9</td>
      <td>0.171</td>
      <td>63</td>
      <td>1.8912</td>
      <td>False</td>
    </tr>
    <tr>
      <th>764</th>
      <td>2</td>
      <td>122</td>
      <td>70</td>
      <td>27</td>
      <td>0</td>
      <td>36.8</td>
      <td>0.340</td>
      <td>27</td>
      <td>1.0638</td>
      <td>False</td>
    </tr>
    <tr>
      <th>765</th>
      <td>5</td>
      <td>121</td>
      <td>72</td>
      <td>23</td>
      <td>112</td>
      <td>26.2</td>
      <td>0.245</td>
      <td>30</td>
      <td>0.9062</td>
      <td>False</td>
    </tr>
    <tr>
      <th>766</th>
      <td>1</td>
      <td>126</td>
      <td>60</td>
      <td>0</td>
      <td>0</td>
      <td>30.1</td>
      <td>0.349</td>
      <td>47</td>
      <td>0.0000</td>
      <td>True</td>
    </tr>
    <tr>
      <th>767</th>
      <td>1</td>
      <td>93</td>
      <td>70</td>
      <td>31</td>
      <td>0</td>
      <td>30.4</td>
      <td>0.315</td>
      <td>23</td>
      <td>1.2214</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df.isnull().values.any()

False

In [8]:
def plot_corr(df, size=11):
    """
    Function plots a graphical correlation matrix for each pair of columns in the dataframe.
    
    Input:
        
    :param df: pandas data frame 
    :param size: vertical and horizontal size of the plot
    
    
    :return: 
    
    
    
    Displays:
        matrix of correlations between columns.
            Blue-cyan-yello-red-darkred => less to more correlated
            0 ----------------------> 1
            Expect a darkred line running from top left to bottom right

    """
    
    corr = df.corr() # data frame correlation function
    fig, ax = matplotlib.pyplot.subplots(figsize=(size, size))
    ax.matshow(corr)
    matplotlib.pyplot.xticks(range(len(corr.columns)), corr.columns) # draw x tick marks
    matplotlib.pyplot.yticks(range(len(corr.columns)), corr.columns) # draw y tick marks

## Candidate Algorithms
- Naive Bayes:  
	- based on likelihood and probability
	- every feature has the same weight
	- requires smaller amount of data
- Logistic Regression:
	- confusing name, binary result
	- relation between features are weighted
- Decision Tree
	- Binary tree
	- Node contains decision
	- Requires enough data to determine nodes and splits

## Selected Algorithm: Naïve Bayes

- Simple - easy to understand
- Fast - up to 100x faster
- Stable - to data changes

## Lots of algorithms available
- Select based on 
	1. Learning vs Supervised
	2. Result vs Binary Classification
	3. Non-ensemble
	4. Basic

268
500
Number of True cases 268 (34.90%)
Number of False cases 500 (65.10%)